/.idea/
/GearGenerated/GeneratedWeapons.json
/GearGenerated/GeneratedArmors.json
/GearGenerated/GeneratedHelmets.json
/GearGenerated/Armors.json
/GearGenerated/Helmets.json
/GearGenerated/Weapons.json
